:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  width: var(--size);
  height: var(--size);
}

:host([size="normal"]) {
  --size: 20px;
}

:host([size="large"]) {
  --size: 24px;
}

:host([interactive]:hover) {
  cursor: pointer;
  color: var(--sgc-color-active);
}

:host([animation="spin"]) {
  animation: spin 1s infinite linear;
}

span {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
