:host {
}

/*
   SIZING - PADDINGS AND BORDER
   ============================

   Every variant and shape defined here has a border of exactly 1px.
   Due to this, paddings are 1px less then they are defined as in the Figma.
 */

:host {
  --button-padding-v: var(--button-padding, 7px);
  --button-padding-h: var(--button-padding, 11px);
}

button {
  font-family: var(--sgc-typo-button--family);
  font-weight: var(--sgc-typo-button--weight);
  font-size: var(--sgc-typo-button--size);
  line-height: var(--sgc-typo-button--line-height);
  letter-spacing: var(--sgc-typo-button--letter-spacing);

  display: flex;
  align-items: center;
  gap: 6px;
  padding: var(--button-padding-v) var(--button-padding-h);
  border: 1px solid;
  border-radius: 4px;
  cursor: var(--button-cursor, pointer);
  width: 100%;

  ${applyTransition('fade')};
  transition-property: color, background-color, border-color;

  color: var(--button-text);
  background-color: var(--button-bg);
  border-color: var(--button-border);

  &:hover,
  &:focus {
    color: var(--button-text--hovered);
    background-color: var(--button-bg--hovered);
    border-color: var(--button-border--hovered);
  }

  &:focus {
    ${applyEffect('focus')};
  }

  &:active {
    color: var(--button-text--pressed);
    background-color: var(--button-bg--pressed);
    border-color: var(--button-border--pressed);
    cursor: var(--button-cursor--pressed, var(--button-cursor, pointer));
  }

  &[disabled] {
    color: var(--button-text--disabled);
    background-color: var(--button-bg--disabled);
    border-color: var(--button-border--disabled);
    cursor: var(--button-cursor--disabled, not-allowed);
  }
}

:host([active]) button:not([disabled]) {
  color: var(--button-text--active);
  background-color: var(--button-bg--active);
  border-color: var(--button-border--active);
}

::slotted(ngm-core-icon) {
  width: var(--button-icon-width, var(--button-icon-size, 20px));
  height: var(--button-icon-height, var(--button-icon-size, 20px));
}

/** large */
:host([variant='large']) button {
  padding: 11px 15px;
}

:host([variant='large']) ::slotted(ngm-core-icon) {
  width: 24px;
  height: 24px;
}

/* primary */
:host([color='primary']) {
  --button-text: var(--sgc-color-text--invert);
  --button-bg: var(--sgc-color-primary);
  --button-border: var(--sgc-color-primary);

  --button-text--hovered: var(--sgc-color-text--invert);
  --button-bg--hovered: var(--sgc-color-primary--hovered);
  --button-border--hovered: var(--sgc-color-primary--hovered);

  --button-text--pressed: var(--sgc-color-text--invert);
  --button-bg--pressed: var(--sgc-color-primary--pressed);
  --button-border--pressed: var(--sgc-color-primary--pressed);

  --button-text--disabled: var(--sgc-color-text--invert);
  --button-bg--disabled: var(--sgc-color-primary--disabled);
  --button-border--disabled: var(--sgc-color-primary--disabled);

  --button-text--active: var(--sgc-color-text--invert);
  --button-bg--active: var(--sgc-color-primary--active);
  --button-border--active: var(--sgc-color-primary--active);
}

/* secondary */
:host([color='secondary']) {
  --button-text: var(--sgc-color-primary);
  --button-bg: var(--sgc-color-secondary);
  --button-border: var(--sgc-color-primary);

  --button-text--hovered: var(--sgc-color-text--emphasis-medium);
  --button-bg--hovered: var(--sgc-color-secondary--hovered);
  --button-border--hovered: var(--sgc-color-text--emphasis-medium);

  --button-text--pressed: var(--sgc-color-text--emphasis-medium);
  --button-bg--pressed: var(--sgc-color-secondary--pressed);
  --button-border--pressed: var(--sgc-color-secondary--pressed);

  --button-text--disabled: var(--sgc-color-bg--disabled);
  --button-bg--disabled: var(--sgc-color-secondary--disabled);
  --button-border--disabled: var(--sgc-color-bg--disabled);

  --button-text--active: var(--sgc-color-text--emphasis-medium);
  --button-bg--active: var(--sgc-color-secondary--active);
  --button-border--active: var(--sgc-color-secondary--active);
}

/* tertiary */
:host([color='tertiary']) {
  --button-text: var(--sgc-color-primary);
  --button-bg: var(--sgc-color-bg--white);
  --button-border: var(--sgc-color-bg--white);

  --button-text--hovered: var(--sgc-color-text--emphasis-medium);
  --button-bg--hovered: var(--sgc-color-secondary--hovered);
  --button-border--hovered: var(--sgc-color-secondary--hovered);

  --button-text--pressed: var(--sgc-color-text--emphasis-medium);
  --button-bg--pressed: var(--sgc-color-secondary--pressed);
  --button-border--pressed: var(--sgc-color-secondary--pressed);

  --button-text--disabled: var(--sgc-color-bg--disabled);
  --button-bg--disabled: var(--sgc-color-secondary--disabled);
  --button-border--disabled: var(--sgc-color-secondary--disabled);

  --button-text--active: var(--sgc-color-text--emphasis-medium);
  --button-bg--active: var(--sgc-color-secondary--active);
  --button-border--active: var(--sgc-color-secondary--active);
}

/* transparent */
:host([transparent]) {
  --button-bg: transparent;
}

/* icon shape */
:host([variant='icon']) button,
:host([variant='icon-round']) button {
  padding: var(--button-padding-v);
}

:host([variant='icon-round']) button {
  border-radius: 50%;
}

/* chip shape */
:host([variant='chip']) button {
  border-radius: 60px;
  padding-block: 2.5px;
}

/* justify */
:host([justify='center']) button {
  justify-content: center;
}

:host([justify='start']) button {
  justify-content: flex-start;
}

:host([justify='end']) button {
  justify-content: flex-end;
}
