@import "../../global/base.css";

/*
   SIZING - PADDINGS AND BORDER
   ============================

   Every variant and shape defined here has a border of exactly 1px.
   Due to this, paddings are 1px less then they are defined as in the Figma.
 */

a {
  text-decoration: none;
}

.button {
  font-family: var(--sgc-typo-button--family);
  font-weight: var(--sgc-typo-button--weight);
  font-size: var(--sgc-typo-button--size);
  line-height: var(--sgc-typo-button--line-height);
  letter-spacing: var(--sgc-typo-button--letter-spacing);

  display: flex;
  align-items: center;
  gap: 6px;
  padding: var(--sgc-button-padding-v) var(--sgc-button-padding-h);
  border: 1px solid;
  border-radius: var(--sgc-button-radius);
  cursor: var(--sgc-button-cursor, pointer);
  width: 100%;

  /*${applyTransition('fade')};*/
  transition-property: color, background-color, border-color;

  color: var(--sgc-button-text);
  background-color: var(--sgc-button-bg);
  border-color: var(--sgc-button-border);

  &:hover,
  &:focus {
    color: var(--sgc-button-text--hovered);
    background-color: var(--sgc-button-bg--hovered);
    border-color: var(--sgc-button-border--hovered);
  }

  &:focus {
    /*${applyEffect('focus')};*/
  }

  &:active {
    color: var(--sgc-button-text--pressed);
    background-color: var(--sgc-button-bg--pressed);
    border-color: var(--sgc-button-border--pressed);
    cursor: var(
      --sgc-button-cursor--pressed,
      var(--sgc-button-cursor, pointer)
    );
  }

  &[disabled],
  &[aria-disabled] {
    color: var(--sgc-button-text--disabled);
    background-color: var(--sgc-button-bg--disabled);
    border-color: var(--sgc-button-border--disabled);
    cursor: var(--sgc-button-cursor--disabled, not-allowed);
  }
}

:host([active]) .button:not([disabled]):not([aria-disabled]) {
  color: var(--sgc-button-text--active);
  background-color: var(--sgc-button-bg--active);
  border-color: var(--sgc-button-border--active);
}

::slotted(ngm-core-icon) {
  width: var(--sgc-button-icon-width, var(--sgc-button-icon-size, 20px));
  height: var(--sgc-button-icon-height, var(--sgc-button-icon-size, 20px));
}

/* small size */
:host([size="small"]) {
  --sgc-button-padding-v: var(--sgc-button-padding, 3px);
  --sgc-button-padding-h: var(--sgc-button-padding, 9px);
}

/* normal size */
:host([size="normal"]) {
  --sgc-button-padding-v: var(--sgc-button-padding, 7px);
  --sgc-button-padding-h: var(--sgc-button-padding, 11px);
}

/* large size */
:host([size="large"]) {
  --sgc-button-padding-v: var(--sgc-button-padding, 13px);
  --sgc-button-padding-h: var(--sgc-button-padding, 17px);
}

:host([size="large"]) ::slotted(ngm-core-icon) {
  width: 24px;
  height: 24px;
}

/* primary color */
:host([color="primary"]) {
  --sgc-button-text: var(--sgc-color-text--invert);
  --sgc-button-bg: var(--sgc-color-primary);
  --sgc-button-border: var(--sgc-color-primary);

  --sgc-button-text--hovered: var(--sgc-color-text--invert);
  --sgc-button-bg--hovered: var(--sgc-color-primary--hovered);
  --sgc-button-border--hovered: var(--sgc-color-primary--hovered);

  --sgc-button-text--pressed: var(--sgc-color-text--invert);
  --sgc-button-bg--pressed: var(--sgc-color-primary--pressed);
  --sgc-button-border--pressed: var(--sgc-color-primary--pressed);

  --sgc-button-text--disabled: var(--sgc-color-text--invert);
  --sgc-button-bg--disabled: var(--sgc-color-primary--disabled);
  --sgc-button-border--disabled: var(--sgc-color-primary--disabled);

  --sgc-button-text--active: var(--sgc-color-text--invert);
  --sgc-button-bg--active: var(--sgc-color-primary--active);
  --sgc-button-border--active: var(--sgc-color-primary--active);
}

/* secondary color */
:host([color="secondary"]) {
  --sgc-button-text: var(--sgc-color-primary);
  --sgc-button-bg: var(--sgc-color-secondary);
  --sgc-button-border: var(--sgc-color-primary);

  --sgc-button-text--hovered: var(--sgc-color-text--emphasis-medium);
  --sgc-button-bg--hovered: var(--sgc-color-secondary--hovered);
  --sgc-button-border--hovered: var(--sgc-color-text--emphasis-medium);

  --sgc-button-text--pressed: var(--sgc-color-text--emphasis-medium);
  --sgc-button-bg--pressed: var(--sgc-color-secondary--pressed);
  --sgc-button-border--pressed: var(--sgc-color-secondary--pressed);

  --sgc-button-text--disabled: var(--sgc-color-bg--disabled);
  --sgc-button-bg--disabled: var(--sgc-color-secondary--disabled);
  --sgc-button-border--disabled: var(--sgc-color-bg--disabled);

  --sgc-button-text--active: var(--sgc-color-text--emphasis-medium);
  --sgc-button-bg--active: var(--sgc-color-secondary--active);
  --sgc-button-border--active: var(--sgc-color-secondary--active);
}

/* tertiary color */
:host([color="tertiary"]) {
  --sgc-button-text: var(--sgc-color-primary);
  --sgc-button-bg: var(--sgc-color-bg--white);
  --sgc-button-border: var(--sgc-button-bg);

  --sgc-button-text--hovered: var(--sgc-color-text--emphasis-medium);
  --sgc-button-bg--hovered: var(--sgc-color-secondary--hovered);
  --sgc-button-border--hovered: var(--sgc-button-bg);

  --sgc-button-text--pressed: var(--sgc-color-text--emphasis-medium);
  --sgc-button-bg--pressed: var(--sgc-color-secondary--pressed);
  --sgc-button-border--pressed: var(--sgc-button-bg--pressed);

  --sgc-button-text--disabled: var(--sgc-color-bg--disabled);
  --sgc-button-bg--disabled: var(--sgc-color-secondary--disabled);
  --sgc-button-border--disabled: var(--sgc-button-bg--disabled);

  --sgc-button-text--active: var(--sgc-color-text--emphasis-medium);
  --sgc-button-bg--active: var(--sgc-color-secondary--active);
  --sgc-button-border--active: var(--sgc-button-bg--active);
}

/* transparent */
:host([transparent]:not([color="primary"])) {
  --sgc-button-bg: transparent;
  --sgc-button-bg--disabled: transparent;
}

:host([variant="default"]) {
  --sgc-button-radius: 4px;
}

/* icon variant */
:host([variant="icon"]) .button,
:host([variant="icon-round"]) .button {
  padding: var(--sgc-button-padding-v);
  --sgc-button-radius: 4px;
}

:host([variant="icon-round"]) {
  --sgc-button-radius: 50%;
}

/* chip variant */
:host([variant="chip"]) {
  --sgc-button-padding-v: var(--sgc-button-padding, 3px);
  --sgc-button-padding-h: var(--sgc-button-padding, 11px);
  --sgc-button-radius: 22px;
}

/* justify */
:host([justify="center"]) .button {
  justify-content: center;
}

:host([justify="start"]) .button {
  justify-content: flex-start;
}

:host([justify="end"]) .button {
  justify-content: flex-end;
}
