@import "../../global/base.css";

:host(sgc-dropdown) {
  display: none;
}

:host(.sgc-dropdown-container) {
  position: fixed;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 205px;
  border-radius: 4px;
  border: 1px solid var(--sgc-color-border--default);

  height: calc(var(--sgc-dropdown-height, 0) + 2px);
  min-height: calc(var(--sgc-dropdown-height, 0) + 2px);

  background-color: var(--sgc-color-bg--white);
  color: var(--sgc-color-text--emphasis-high);
  overflow: hidden;

  transition: ease-out 250ms;
  transition-property: opacity, height, min-height;
}

:host(.sgc-dropdown-container.is-hidden) {
  display: none;
}

:host(.sgc-dropdown-container:not(.is-visible)) {
  opacity: 0;
  height: 0;
  min-height: 0;
}
