.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(15, auto);
  gap: 1rem;
  justify-items: start;
}

.menu {
  display: flex;
  flex-direction: column;
}
